<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashish.grocery"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">
        <activity android:name=".user.cart.Carts"/>
        <activity android:name=".user.ProductDetailActivity" />
        <activity android:name=".user.CartActivity" />
        <activity android:name=".user.OrdersActivity" />
        <activity android:name=".user.CategoryActivity" />
        <activity
            android:name=".MainShopActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".seller.OrderDetailSellerActivity" />
        <activity android:name=".user.ShopReviewActivity" />
        <activity android:name=".user.WriteReviewActivity" />
        <activity android:name=".user.OrderDetailUserActivity" />
        <activity
            android:name=".user.ShopDetailActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".seller.EditProductActivity" />
        <activity android:name=".seller.AddProductActivity" />
        <activity android:name=".user.EditProfileUserActivity" />
        <activity android:name=".seller.EditProfileSellerActivity" />
        <activity android:name=".user.MainUserActivity" />
        <activity android:name=".seller.MainSellerActivity" />
        <activity android:name=".seller.RegisterSellerActivity" />
        <activity android:name=".ui.ForgotActivity" />
        <activity android:name=".user.RegisterUserActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessaging"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.permission.RECEIVE"/>
            </intent-filter>
        </service>
    </application>

</manifest>